body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("backgroun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:white;
  }
  
  section {
    padding: 40px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
  }
  
  a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #666;
  }
  